@charset "UTF-8";
@font-face {
    font-family: 'pczin';
    src: url(assets/font/Chakra_Petch/ChakraPetch-Regular.ttf);
}
:root {
--cor1: #167CBF;
--cor2: #0C598B;
--cor3: #F2790F;
--cor4: #CACACA;
--cor5: #FFFFFF;
}
h1{
    font-family: 'pczin';
}
header{
    background-color: var(--cor2);
    text-align: center;
    padding-left: 800px;
    padding-right: 800px;
}
ul{
    background-color: var(--cor1);
    list-style: none;
    text-align: center;
    border-radius: 30px;
    }